.white{
  color:white;
}
.pageback{
  background:#666666; 
  border-style:solid; 
  border-width:10px; 
  border-color:#666666
}

.heading{
  text-align:center; 
  background:lightgrey;
}

.text{
  height:200px; 
  float:left;
  background:grey;
}

.copyright{
  clear:left; 
  text-align:right; 
  background:#575757; 
  color:grey
}

#NavFoo{
  Width:15%
}

#TextFoo{
  Width:85%
}