<!DOCTYPE html>
<html>
  <head>
    <title>
      Meteorites That Have Hit Earth
    </title>
    <meta charset="UTF-8">
  </head>
  <body>
    <center>
      <div>
        Filler Text
      </div>
      <button id="transition-next">Next</button>
    </center>

    <meta id="server-info" data-server='{{info}}'>

    <script src="http://d3js.org/d3.v5.min.js"
    	charset="utf-8">
    </script>
    <script src="static/script.js">

    </script>
    <!--
      Chosen Dataset URL
      https://data.nasa.gov/resource/y77d-th95.json
    <script src="script.js"></script>
    -->

  </body>
</html>
