{% extends "format.html" %}
  <title>
      Login Page
    </title>
  {% block Title %}
    <h1>Login Page</h1>
  {% endblock %}
  {% block Body %}
    <form action = "/auth">
      <div>Username:</div>
      <input type = "text" name = "username"><br>
      <div>Password:</div>
      <input type = "text" name = "password"><br>
      <input type = "submit" value = "Log In">
    </form>
    <!-- 
      Inheritance for error
    -->
    <div>
      <br>
      {% block Message %}
        Please log in.
      {% endblock %}
    </div>
  {% endblock %}     
